@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
*{
    font-size: 18px;
}
header{
    background-color: #39B54A;
    margin-top: 20px;
    height: 100px;
}
header{
justify-content: space-evenly;
align-items: center;
display: flex;
}
header h3{
    color: white;
}
header p{
    color: white;
}
header input{
    background: transparent;
    border: solid white;
    border-radius: 4px;
    height: 3em;
    width: 450px;
}
header input::placeholder{
    color:white;
    text-align: center;
}
header span i{
    height: 45px;
    background-color: black;
    width: 45px;
    border-radius: 50%;
}
header span i .fa fa-user{
    height: 50px;
}
nav{
    background-color: grey;
    width: 100%;
    height: 100vh;
    display: block;
}
nav li{
   list-style: none;
   padding: 30px 20px;
   text-align: center;
   font-size: 18px;
   color: black;
   text-decoration: bold;  
}
.col-md-10{
    padding: 30px 20px 30px 20px;
}
.col-md-4 input{
    height: 3em;
    width: 450px;
    border-color: #39B54A;
    border-radius: 8px;
    text-align: center;
}

