
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Inter&display=swap');
.logostyle{
  height: 80px;
  width: 50px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid black;
  
}
.logostyle h1{
  color: white;
  margin-left: 0.5rem;
  font-weight: bolder;
}
#ood{
  font-family: 'EB Garamond', 'serif';
  font-weight: bolder;
  font-size: xx-large;
}
#diary{
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

.logostyle{
  display: flex;
  justify-content: space-between;
}
.logo-text{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: x-large;
  line-height: 1;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 5rem;
}
nav ul li{
  list-style: none;
 
}
nav ul li a{
 color: black;
 
}
.signin{
  display: flex;
  justify-content: space-around;
  margin-left: 15rem;
  margin-top: 1rem;
}
.signin li {
  padding-top: 1rem;
  list-style: none;
}
.signin li a{
  color: black;
  
}
.introtext{
  margin-top: 10rem;
}
.introtext h1{
  font-weight: bolder;
}
.introtext p {
  font-size: large;
}
.introtext button{
  height: 50px;
  width: 200px;
  color: white;
  font-weight: bold;
  background-color:#39B54A;
  /* border-radius: 25px; */
}
.intro{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}
.img-intro{
  margin-right: 5rem ;
}
.work{
  padding-top: 3rem;
  text-align: center;
}
.work p{
  padding-top: 2rem;
}