@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Inter&family=Lato&display=swap');

.logostyle{
  height: 80px;
  width: 50px;
  border-radius: 25px;
  background-color: black;
  border: 2px solid black;
  
}
.logostyle h1{
  color: white;
  margin-left: 0.5rem;
  font-weight: bolder;
}
#ood{
  font-family: 'EB Garamond', 'serif';
  font-weight: bolder;
  font-size: xx-large;
}
#diary{
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

.logostyle{
  display: flex;
  justify-content: space-between;
}
.logo-text{
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: x-large;
  line-height: 1;
}
.nav-bar{
  box-shadow:3px 3px 3px 3px  lightgray;
  font-family: 'Lato', sans-serif;
  /* position to be fixed */
  
}
nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;

}
nav ul li{
  list-style: none;
 
}
nav ul li a{
 color: black;
 
}
nav ul li a:hover{
 background-color: lightgray;
 text-decoration: none;
 
 }
.introtext{
  margin-top: 10rem;
}
.introtext h1{
  font-weight: bolder;
}
.introtext p {
  font-size: large;
}
.introtext button{
  transition: 0.4s;
  height: 50px;
  width: 200px;
  color: white;
  font-weight: bold;
  background-color:#39B54A;
  border-radius: 10px; 
}
.introtext button:hover{
  background-color: lightgray;
}
.intro{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  padding: 0 4rem;
}
.img-intro{
  margin-right: 5rem ;
}
.work{
  padding-top: 3rem;
  text-align: center;
}
.work p{
  padding-top: 2rem;
}
.whatwedobox img{
 height: 150px;
 padding-left: 4rem;
 padding-top: 2rem;
}
.whatwedo{
width: 100%;
padding-top: 2rem;
}
.whatwedobox{
  box-shadow: 3px 3px 3px 3px grey;
  border-radius: 25px;
  height: 300px;
}
.whatwedobox h4{
  padding-top: 1rem;
  text-align: center;
}
.whatwedobox p{
  text-align: center;
}
.stats{
  margin-top: 2rem;
  height: 100px;
  background-color:#39B54A ;

  color: white;
}
.inputstats{
  padding-top: 2rem;
  font-weight: bolder;
  text-align: center;
}
.people{
  text-align: center;
}
.people img{
  border-radius: 50%;
  width: 300px;
  height: 250px;
}
.people h4{
  margin-bottom: 2rem;
}
.blog{
  text-align: center;
  padding: 3rem 4rem;
}
.blog h2{
  padding-bottom: 3rem;
}
.material-icons{
  padding-top: 0.3rem;
}
.footer{
  height: 100px;
  background-color:#39B54A  ;
  color: white;
  font-weight: bold;
}
.getintouch{
  line-height: 0;
}
.iconssec{
  line-height: 0;
}
.flexing1 {
  display: flex;
  padding-top: 0rem;
}
.flexing2{
  display: flex;
  padding-top: 2.3rem;
}
.flexing1 p {
  padding-top: 1.8rem;
}
.flexing2 p {
  padding-top: 0.8rem;
}

.socialicons{
  padding-top: 0.8rem;
}
.socialicons i {
  padding-left: 1rem;
}
.copyright{
  background-color: #39B54A;
  color: white;
  text-align: center;
}
